<h3>Viewing Customer <%= @name %></h3>
<p><a href='/customer/<%= @id %>/delete'>Delete <%= @name %></a></p>
<table>
 <tr>
    <th>ID</th>
    <th>Name</th>
  </tr>
  <tr>
    <td><%= @id %></td>
    <td><%= @name %></td>
  </tr>
</table>